@import url('null.css');

.form {
  background: #819FF7;
  color: #fff;
  height: 15vh;
  padding: 20px;
}

.form__title {
  font-size: 1.3em;
  margin: 0 0 20px 0;
}

.form__input {
  height: 30px;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 1.1em;
}

.form__button {
  position: relative;
  height: 26px;
  top: -2px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 0px 0px rgba(34, 60, 80, 0.2);
}

.form__button:hover {
  top: 0px;
  background: #F2F2F2;
  box-shadow: 0px 2px 0px 0px rgba(34, 60, 80, 0.2);
}

.calendar__body {
  min-height: 85vh;
  color: #424242;
  padding: 20px;
  background: linear-gradient(90deg, #aea4e3, #d3ffe8);
  margin: 0 auto;
}

.calendar__title {
  font-weight: 600;
  font-size: 3.5em;
  text-align: center;
  margin: 0 0 20px 0;
}

.calendar__months {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.calendar__month {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
}

.calendar__subtitle {
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  padding: 0 0 10px 0;
  text-transform: uppercase;
}

.calendar__days-week {
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  border-bottom: 1px solid #848484;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
}

.calendar__week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 1px 0;
}

.calendar__days {
  font-size: 1.1em;
}

.calendar__day {
  padding: 5px 0;
  margin: 0 1px;
}

.calendar__day_chill {
  background: #F2E0F7;
  border-radius: 50%;
}

@media all and (max-width: 950px) {
  .calendar__months {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 720px) {
  .calendar__months {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 480px) {
  .calendar__months {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 340px) {
  .form__inputs {
    display: flex;
    flex-direction: column;
  }

  .form__button {
    margin: 10px 0 0 0;
  }
}